$pretos-black: #212121;
$pretos-grey-1: #3d3d3d;
$color-roxo: #474bff;
$color-roxo-dark: #0a0b28;
$color-roxo-light: #c2c4ff;
$text-field-light: #f7f7f7;
$brancos-grey-1: #bdbdbd;
$brancos-grey-2: #7e7e7e;
$brancos-white: #ffffff;